body{
    font-family: "Lato", Arial, sans-serif;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    background: url('assets/background.jpg') no-repeat center center/cover;
    align-items: center;       
    height: 100vh;
    color: white;
}

.container{
    text-align: center;
   background-color:#181A1CD6;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 529px;
    height: 663px;

}
.masuk{
    margin-top: -30px;
   font-size: 30px;
}
.selamat{
    margin-top: -45px;
}

.username{
    margin-top: -15px;
    color: white;
    border-radius: 16px;
    padding: 12px;
    background-color:#181A1CD6;
    border: 1px thin white;
}

.pass{
    margin-top: -15px;
    color: white;
    border-radius: 16px;
    padding: 12px;
    background-color:#181A1CD6;
    border: 1px solid white;

}

.links{
    margin-top: -15px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.masuk-button{
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
    
}

.google-button{
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;    
}
